package ${package}.service;

import java.util.List;
import java.util.Map;

import ${package}.vo.${vo};

#set($voVar=$vo.substring(0, 1).toLowerCase()+$vo.substring(1))

/**
 * @author $!{author}
 * @date $!{date}
 * @Description： $!{info}
 */
public interface ${service} {

	/*=======================查询query===========================*/
	/**
	 * 查询所有的$voVar
	 * @return List<${vo}> $voVar列表
	 */
	public List<${vo}> queryAll${vo}();
	
	/**
	 * 根据查询条件查询user
	 * @param condition 查询条件
	 * @return List<${vo}> $voVar列表
	 */
	public List<${vo}> query${vo}ByCondition(String condition);
	
	/**
	 * 通过SQL查询出$voVar相关结果集列报表
	 * @param sql
	 * @return
	 */
	@SuppressWarnings("rawtypes")
	public List<Map> query${vo}BySql(String sql);
	
	/**
	 * 通过主键查询$voVar
	 * @param ${voVar}
	 * @return
	 */
	public ${vo} find(${vo} ${voVar});
	
	
	/*=====================插入 insert==========================*/
	
	/**
	 * 插入一个$voVar
	 * @param ${voVar}
	 * @return ${voVar}Id
	 */
	public Object insert${vo}(${vo} ${voVar});
	
	/**
	 * 插入user列表
	 * @param ${voVar}List
	 * @return
	 */
	public List<Object> insert${vo}(List<${vo}> ${voVar}List);
	
	
	
	
	
	/*=====================修改update==========================*/
	
	/**
	 * 修改一个user类型
	 * @param ${voVar}
	 * @return
	 */
	public Object update${vo}(${vo} ${voVar});
	
	/**
	 * 修改user类型列表
	 * @param ${voVar}List
	 * @return
	 */
	public List<Object> update${vo}(List<${vo}> ${voVar}List);
	
	
	/*=====================删除delete==========================*/
	/**
	 * 通过主键删除user
	 * @param ${voVar}
	 * @return
	 */
	public Object delete${vo}(${vo} ${voVar});
	
	/**
	 * 通过条件删除user
	 * @param condition
	 * @return
	 */
	public Object delete${vo}ByCondition(String condition);
	
	
	
	/*=====================获取数目==========================*/
	/**
	 * 查询${vo}数目
	 * @return
	 */
	public Integer query${vo}TotalNumber();
	
	
	/**
	 * 查询${vo}数目
	 * @param condition
	 * @return
	 */
	public Integer query${vo}TotalNumber(String condition);
	
	
}
