<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/tx 
           http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
	<aop:aspectj-autoproxy />
#set($daoimpl=$dao.substring(1)+"Impl")
#set($daoVar=$dao.substring(1,2).toLowerCase()+$dao.substring(2))
	<!-- Dao -->
	<bean id="${daoVar}" class="${package}.dao.impl.${daoimpl}">
		<!-- <property name="sessionFactory"> <ref bean="sessionFactory" /> </property> -->
	</bean>
#set($serviceimpl=$service.substring(1)+"Impl")	
#set($serviceVar=$service.substring(1, 2).toLowerCase()+$service.substring(2))	
	<!-- Service -->
	<bean id="${serviceVar}" class="${package}.service.impl.${serviceimpl}">
		<property name="${daoVar}">
			<ref bean="${daoVar}" />
		</property>
	</bean>

	<!-- Action -->
	<bean id="${web}" class="${package}.action.${web}"
		scope="session">
		<property name="${serviceVar}">
			<ref bean="${serviceVar}" />
		</property>
	</bean>

</beans>